<div class="container mx-auto">
  
  <div class="card">
      <div class="card-body">
        <h3 class="text-center">Lista de Vacantes Registrados</h3>
      </div>
      <table class="table table-sm table-hover table-bordered">
          <thead class="thead-dark">
              <tr>
                <th scope="col">Empresa</th>
                <th scope="col">Vacante</th>
                <th scope="col">Aptitudes</th>
                <th scope="col">Nivel De Estudio</th>
                <th scope="col">Experiencia</th>
                <th scope="col">Sector</th>
                <th scope="col">Tipo De Empleo</th>
                <th scope="col">Funciones Laborales</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
        <tbody>
         <tr>
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-plus-circle" routerLink="/modal">Agregar Nuevo Vacante</i>
            </button>
         </tr>
          <tr *ngFor="let vacante of vacanteList">
            <td>{{vacante.nombreEmpresa}}</td>
            <td>{{vacante.nombreVacante}}</td>
            <td>{{vacante.aptitudes}}</td>
            <td>{{vacante.nivelEducativo}}</td>
            <td>{{vacante.experiencia}}</td>
            <td>{{vacante.sector}}</td>
            <td>{{vacante.tipoEmpleo}}</td>
            <td>{{vacante.funcionesLaborales}}</td>
            <td>{{vacante.descripcion}}</td>
            <td width="80">
              <a class="btn btn-secondary text-white" (click)="onEdit(vacante)">
                <i class="far fa-edit"></i>
              </a>
              <a class="btn btn-danger text-white" (click)="onDelete(vacante.id)">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  
</div>


<button (click)="cerrrarSesion()">Cerrar sesion</button>