<div class="jumbotron" style="background: url(https://www.trabajob.com//assets/img/slider4.jpg) no-repeat fixed center;-webkit-background-size: cover;  -moz-background-size: cover; -o-background-size: cover;  background-size: cover;  height: 80%;width: 100% ;">
<div class="jumbotron mx-auto" style="background-color: rgba(252, 252, 252, 0.4)">
  <div class="card" style="background-color: rgba(252, 252, 252, 0.0)">
      <div class="card-header">
          <h3 style="text-align:center">Lista de vacantes Registrados</h3>
        </div>
      <table class="table table-sm table-hover table-bordered table-responsive" style="background-color: rgba(255, 255, 255, 0.3)">
          <thead class="thead-dark">
              <tr>
                <th scope="col">Empresa</th>
                <th scope="col">Vacante</th>
                <th scope="col">Aptitudes</th>
                <th scope="col">Nivel De Estudio</th>
                <th scope="col">Experiencia</th>
                <th scope="col">Sector</th>
                <th scope="col">Tipo De Empleo</th>
                <th scope="col">Funciones Laborales</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
        <tbody>
          <tr *ngFor="let vacante of vacanteList">
            <td>{{vacante.nombreEmpresa}}</td>
            <td>{{vacante.nombreVacante}}</td>
            <td>{{vacante.aptitudes}}</td>
            <td>{{vacante.nivelEducativo}}</td>
            <td>{{vacante.experiencia}}</td>
            <td>{{vacante.sector}}</td>
            <td>{{vacante.tipoEmpleo}}</td>
            <td>{{vacante.funcionesLaborales}}</td>
            <td>{{vacante.descripcion}}</td>
            <td width="80">
              <a class="btn btn-secondary text-white" (click)="onEdit(vacante)">
                <i class="far fa-edit"></i>
              </a>
              <a class="btn btn-danger text-white contrainer" (click)="onDelete(vacante.id)">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="text-align: center">
      <button class="btn btn-primary btn-lg" type="submit">
          <i class="fas fa-plus-circle" routerLink="/modal">Agregar nueva Vacante</i>
      </button>
    </div>
    </div>
</div>
<div style="text-align: center">  
  <button type="button" class="btn btn-danger btn-lg" (click)="cerrrarSesion()">Cerrar sesion</button>
</div>
</div>