<div class="jumbotron" style="background: url(https://www.trabajob.com//assets/img/slider4.jpg) no-repeat fixed center;-webkit-background-size: cover;  -moz-background-size: cover; -o-background-size: cover;  background-size: cover;  height: 80%;width: 100%;">
    <div class="container jumbotron mx-auto" style="background-color: rgba(252, 252, 252, 0.4)">
        <div class="card" style="background-color: rgba(252, 252, 252, 0.6)">
            <div style="text-align:center">
                <img class="card-img-top" src="https://cdn.icon-icons.com/icons2/1169/PNG/512/1489186737-constructiondigshovelworker_81809.png"
                    width="90" height="90" class="d-inline-block align-top" alt="" alt="Card image cap">
            </div>
            <div class="card-body" style="text-align:center">
                <h5 class="card-title">By MyJob</h5>
                <hr>
            </div>
            <div class="card-header">
                <h6>{{vacanteempleoService.vacantesel.nombreEmpresa}} solicita:
                    {{vacanteempleoService.vacantesel.nombreVacante}} </h6>
            </div>
            <li class="list-group-item">
                <p class="card-text">{{vacanteempleoService.vacantesel.descripcion}}</p>
            </li>


            <div class="card-header">
                <h6>Requisitos: </h6>
            </div>

            <li class="list-group-item">
                <p>Grado De Estudio: {{vacanteempleoService.vacantesel.nivelEducativo}}</p>
                <p>Experiencia: {{vacanteempleoService.vacantesel.experiencia}}</p>
                <p>Aptitudes: {{vacanteempleoService.vacantesel.aptitudes}}</p>
            </li>
            <div class="card-header">
                <h6>Funciones: </h6>
            </div>
            <li class="list-group-item">
                <p>{{vacanteempleoService.vacantesel.funcionesLaborales}}</p>
            </li>
            <div class="card-header">
                <h6>Jornada: </h6>
            </div>
            <li class="list-group-item">
                <p>{{vacanteempleoService.vacantesel.tipoEmpleo}}</p>
            </li>
            <div class="card-header">
                <h6>Sector: </h6>
            </div>
            <li class="list-group-item">
                <p>{{vacanteempleoService.vacantesel.sector}}</p>
            </li>
            <div class="card-body">
                <p class="mt-5 mb-3 text-muted">&copy; MyJob 2018</p>
            </div>
        </div>




        <div id="content" #content>
            <h1 aling="center">Oferta de empleo por Myjob</h1>
            <hr>
            <h4>La empresa: {{vacanteempleoService.vacantesel.nombreEmpresa}} solicita: </h4>
            <h5>{{vacanteempleoService.vacantesel.nombreVacante}}</h5>
            <h4>Requisitos: </h4>
            <h5>{{vacanteempleoService.vacantesel.nivelEducativo}}</h5>
            <h5>{{vacanteempleoService.vacantesel.experiencia}}</h5>
            <h4>Aptitudes: </h4>
            <h5>{{vacanteempleoService.vacantesel.aptitudes}}</h5>
            <h4>Funciones:</h4>
            <h5>{{vacanteempleoService.vacantesel.funcionesLaborales}}</h5>
            <h4>Descripción: </h4>
            <h5>{{vacanteempleoService.vacantesel.descripcion}}</h5>
            <h4>Sector:</h4>
            <h5>{{vacanteempleoService.vacantesel.sector}}</h5>
            <h4>Jornada: </h4>
            <h5>{{vacanteempleoService.vacantesel.tipoEmpleo}}</h5>

        </div>



    </div>
    <div style="text-align: center">
            <button type="button" class="btn btn-primary btn-lg" (click)=descargarPDF()>Generar PDF</button>
    </div>
</div>